<%@clients.each do |client| %>
    <li>
      <%= link_to "" , client_path(client), class: "client_link" %>
      <div class="client-name">
        <%= client.name + ' ' + client.surname %>
      </div>
      <div class="client-avatar">
        <%= image_tag(client.avatar.url(:avatar)) %>
      </div>
      <input type="hidden" value="<%=client.id  %>" />
    </li>
<% end %>