<% logger.info(@current) %>
<div class="header-section dashboard">
  <div class="logo"></div>
  <div class="mainUser">
    <h2 class="pageTitle">
      Dashboard
    </h2>
    Welcome
    <%= @current.name + ' ' + @current.surname %>
  </div>
  <div class="session-info">
    <div class="avatar">
      <%= image_tag(@current.avatar.url(:medium)) %>
    </div>
    <div class="search-bar">
      <input type="text" name="search" placeholder="client search" />
    </div>
  </div>

</div>