.client_link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.back-btn, .delete-btn{
  display: block;
  width: 205px;
  height: 57px;
  border-radius: 8px;
  background: #df1e1f;
  position: absolute;
  right: 0;
  top: 57px;
  text-align: center;
  line-height: 57px;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;

  &:visited, &:link{
    color: #ffffff;
    text-decoration: none;
  }
}

.delete-btn{
  top: 135px;
}

.client-overview {

  .image-area {
    width: 285px;
    min-height: 1px;
    height: auto;
    margin: 0px 34px 0px 0px;
    float: left;

    img {
      width: 100%;
      height: auto;
    }
  }

  .client-details {

    font-size: 22px;
    color: #000;
    float: left;
    width: 531px;

    .client-details-line {
      width: 100%;
      display: table;
      table-layout: fixed;
      > span {
        display: table-cell;

        &:first-of-type {
          width: 120px;
        }

      }
    }

  }

}

.client form fieldset.inputs {
  background: transparent;
  border-radius: 0;
}

.client form input[type=submit],
.client form input[type=submit]:hover ,
.client form input[type=submit]:active {
  width: 160px;
  height: 43px;
  font-weight: normal;
  border-radius: 8px;
  background: #df1e1f;
  position: absolute;
  right: 0;
  bottom: 20px;
  right: 20px;
  text-align: center;
  line-height: 43px;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  font-family: inherit;
  border: none;
  padding: 0;
  outline: none;
  text-shadow: none;
}

.client form textarea{
  border: none;
  background-color: white;
  height: 20px;
  border-radius: 5px;
  font-size: 20px;
  width: 90%;
  margin: auto 11px;
  height: 100px;
  resize: vertical;
}

.client li {
  list-style-type: none;
}

.client .submit {
  width: 160px;
  height: 43px;
}
