.dashboard {
  .header-section {
    .logo {
      right: auto;
      left: 30px;
    }

    .mainUser {
      width: 320px;
      height: 100%;
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      font-size: 27px;
      color: #000;
      text-align: center;
      h2 {
        font-size: 60px;
        margin-bottom: 0;
        margin-top: 46px;
        font-weight: bold;
      }
    }

    .session-info {
      width: 350px;
      height: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
      img {
        margin: auto;
        position: absolute;
        bottom: 0;
        top: -60px;
        right: 0;
        left: 0;
      }

      .search-bar {
        input {
          width: 288px;
          height: 50px;
          border-radius: 5px;
          background: #e1d5d5;
          border: none;
          outline: none;
          position: absolute;
          bottom: 20px;
          font-size: 20px;
          padding: 0 10px;
          background-image: url("search-icon.png");
          background-repeat: no-repeat;
          background-size: 40px;
          background-position: right center;
        }
      }
    }

  }
  .bottom-wrapper {
    padding-bottom: 100px;
  }

  .menu-panel {
    width: 353px;
    height: 100%;
    float: left;
    padding-top: 100px;
      .menu-item {
        width: 100%;
        height: 60px;
        line-height: 60px;
        text-indent: 25px;
        font-size: 25px;
        background: #2e2c2d;
        color: #ffffff;
        border-bottom: 1px solid #7c7879;
        cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
      }


  }
  .userWrapper {
    background: #ffffff;
    float: left;
    height: 100%;
    width: calc(100vw - 376px);
    margin-top: 100px;
    /* position: relative; */
    position: absolute;
    left: 353px;

      .user-inner {
        width: 90%;
        margin: 40px auto;
        position: relative;
        height: 100%;

        .clients-title {
          margin-top: 82px;

            h2 {
              font-size: 35px;
            }
        }
        .add-client {
          width: 205px;
          height: 57px;
          border-radius: 8px;
          background: #df1e1f;
          position: absolute;
          right: 0;
          top: -21px;
          text-align: center;
          line-height: 57px;
          color: #ffffff;
          font-size: 20px;
          cursor: pointer;
            &:hover {
              opacity: 0.8;
            }
        }
          .user-list {
            margin: 0;
            padding: 0;
            li {
              list-style-type: none;
              float: left;
              width: 200px;
              height: 200px;
              position: relative;
              margin-right: 50px;
              background: black;
                .client-name {
                  height: 40px;
                  position: absolute;
                  background: black;
                  width: 100%;
                  color: #ffffff;
                  text-align: center;
                  line-height: 40px;
                  font-size: 20px;
                  bottom: 0;
                }
            }


          }

      }

  }

}

.formOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9;

    form {
      width: 600px;
      height: 900px;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      background: #333333;

        label {
          display: block;
          margin: 10px 20px;
          font-size: 18px;
          color: #ffffff;
        }
        h2 {
          background: #000;
          color: #ffffff;
          height: 80px;
          text-align: center;
          line-height: 80px;
          width: 100%;
          font-size: 30px;
          position: relative;
            span {
              width: 80px;
              height: 80px;
              display: block;
              position: absolute;
              right: 0;
              background: url("cros-icon-white.png") no-repeat center ;
              background-size: 50% ;
              top: 0;

            }
        }

      input[type="text"], .address {
        border: none;
        background-color: white;
        height: 50px;
        border-radius: 10px;
        font-size: 20px;
        width: 90%;
        margin: auto 18px;
      }

      input[type="file"] {
        width: 90%;
        color: #ffffff;
        margin: auto 20px;
        outline: none;
      }

      .address {
        height: 100px;
        resize: vertical;
      }

      .submit {
        width: 205px;
        height: 57px;
        border-radius: 8px;
        background: #df1e1f;
        position: absolute;
        right: 0;
        bottom: 20px;
        right: 20px;
        text-align: center;
        line-height: 57px;
        color: #ffffff;
        font-size: 20px;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
    }
}

