.header-section {
  background: #ffffff;
  width: 100%;
  height: 250px;
  display: block;
  position: absolute;

  .logo {
    width: 215px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background: url(mali.png) center no-repeat;
    /* height: 276px; */
    bottom: 0;
    background-size: 100%;
    top: 0;
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #fff;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    /* border: 0; */
    bottom: -20px;
    z-index: 99;
  }
}

.form-section, .bottom-wrapper {
  height: 100%;
  background: #333333;
  position: absolute;
  bottom: 0;
  width: 100%;
  top: 250px;
}

.form-section form {
  width: 384px;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  top: 90px;

    label {
      color: #fff;
      font-size: 15px;
      display: block;
    }

  #flash_notice {
    color: red;
    position: absolute;
    top: -50px;
    font-size: 15px;
  }
}

.form-section form .field.login input {
  border: none;
  background-color: white;
  height: 25px;
  border-radius: 5px;
  font-size: 15px;
  width: 100%;
}

.form-section .actions input {
  position: absolute;
  right: -20px;
  margin: 0 !important;
  width: 114px;
  height: 30px;
  background: #d86628;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  text-shadow: none;
  font-weight: normal;
  font-size: 15px;
  outline: none;
}

.form-section .actions input:hover {
  background: #d86628;
  opacity: 0.8;
}
.restLinks a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

.restLinks a:first-child ,.remember{
  display: none;
}


// Reset Password

.reset .restLinks a:nth-child(3) {
  display: none;
}
.reset .restLinks a:first-child {
  margin-top: 20px;
  display: block;
  float: left;
}



.reset.form-section form {
  top:150px;
}

.reset h2 {
  text-align: center;
  color: #ffffff;
  text-indent: -144px;
  margin-top: 101px;
}



.bottom-wrapper {

}

#user_email {
  margin-bottom: 15px;
}
.restLinks {
  margin-top: -5px;
  a {
    font-size: 15px;
  }
}

